.signin-page{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background: url('/assets/img/bg-img.jpg');
}

.signin-page form{
  display: flex;
  flex-direction: column;
}

.signin-input{
  margin-bottom: 10px;
  padding: 10px;
}
.signin-submit{
  margin-top: 10px;
  box-shadow: none;
  outline: none;
  border: 1px solid black;
  background: white;
}

.signin-select{
  padding: 10px;
}

.signin-container h2 {
  margin-bottom: 2rem;
  color: white;
  text-shadow: 6px 7px 6px #040303;
}

.signin-container{
  width: 50%;
  padding: 5rem;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.signin-container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .2);
  filter: blur(10px);
  margin: -20px;
}

.signin-submit{
  padding: 10px;
  color: white;
  font-weight: bold;
  background: black;
}
.error-signin{
  background-color: rgba(255,255,255,1);
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  color: crimson;
  font-weight: 600;

}